@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Background Started */
.hero-bg {
    
    background-image: url("../src/assets/images/hero/hero-background.webp");
  }
  .banner-lg {
    background-image: url("../src/assets/images/banner/banner-lg.webp");
  }
  .banner-mobile {
    background-image: url("../src/assets/images/banner/banner-mobile.webp");
  }
  .subscribe-lg {
    background-image: url("../src/assets/images/subscribe/Subscribe.png");
  }
  .subscribe-mobile {
    background-image: url("../src/assets/images/subscribe/subscribe-mobile.webp");
  }
  .sub-header {
    background-image: url("../src/assets/images/share/sub-header-section.webp");
  }
  .sub-header-mobile {
    background-image: url("../src/assets/images/share/sub-header-section-mobile.webp");
  }
  /* Background End */

  .categories:hover svg path {
    fill: white;
  }

  /* Delivery Process started  */
  @media (min-width: 1146px) and (max-width: 1279px) {
    .dots {
      left: calc(100% + 20px);
    }
  }
  @media (min-width: 1024px) and (max-width: 1145px) {
    .dots {
      left: calc(100% + 6px);
      gap: 12px;
    }
  }
  
  .dots span.active {
    height: 10px;
    width: 10px;
    background: #91bf73;
    /* @apply bg-primary_3; */
  }
  /* Delivery Process end  */